<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TrueKarma">
	<listeners>
		<listener class-name="com.qa.tk.screenshot.ITestListener" />
	</listeners>	
	<test name="TrueKarma Web Page Automation">
		<classes>
			<class name="com.tk.qa.Testcases.HomePageTest">
                <methods>
                    <include name="TestCase2()" />
                </methods>
            </class>
            <class name="com.tk.qa.Testcases.EventPageTest">
                <methods>
                    <include name="CreateEvent()" />
                </methods>
            </class>
            <class name="com.tk.qa.Testcases.CharityFinderTest">
                <methods>
                    <include name="DonationCharity()" />
                </methods>
            </class>
		</classes>
	</test>
</suite>